


.steve {
  margin-top: 30px;
}
.head {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  background-color: #BC784F;
}

.hair {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 35px;
  
  background-color: #523515;
}

.hair:before {
  content: "";
  display: block;
  width: 80px;
  height: 8px; 
  background-color: #BC784F;
}

.eyes {
  display: flex;
  justify-content: space-between;
  margin: 12px auto 0 auto;
  width: 80px;
  height: 12px;
}

.eyes:before,
.eyes:after {
  content: "";
  display: block;
  width: 14px;
  height: 12px;
  background-color: #fff;
}

.eyes:before {
  box-shadow: 14px 0 0 #47219B;
}

.eyes:after {
  box-shadow: -14px 0 0 #47219B;
}

.nose {
  display: flex;
  flex-wrap: wrap;
  margin: 2px auto;
  width: 24px;
  height: 24px;
}

.nose:before,
.nose:after {
  content: "";
  display: block;
  height: 50%;
  width: 100%;
}

.nose:before {
  background-color: #9A5E3C; 
}

.nose:after {
  background-color: #BC784F;
}

.mouth {
  margin: -14px auto 0 auto;
  width: 50px;
  height: 27px;
  background-color: #4C2A0A;
}

.neck {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 50px;
  height: 24px;
}

.neck:before,
.neck:after {
  content: "";
  display: block;
  background-color: #BC784F;
}

.neck:before {
  height: 50%;
  width: 100%;
}

.neck:after {
  height: 50%;
  width: 24px;
}

.shirt {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 auto;
  width: 100px;
  height: 120px;
  box-shadow: 0 20px 0 #117EB3;
  background-color: #01BDBE;
}

.shirt:before,
.shirt:after {
  content: "";
  display: block;
  width: 10px;
  background-color: #01BDBE;
}

.shirt:before {
  margin-bottom: -10px;
  height: 10px;
}

.shirt:after {
  margin-bottom: -20px;
  height: 20px;
}

.arms {
  display: flex;
  justify-content: space-between;
  margin: -120px auto 0 auto;
  width: 200px;
  height: 140px;
}

.arms:before,
.arms:after {
  content: "";
  display: block;
  margin-top: 40px;
  width: 50px;
  height: 100px;
  box-shadow: 0 -40px 0px #01BDBE;
  background-color: #BC784F;
}

.legs {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 100px;
  height: 140px;
}

.legs:before,
.legs:after {
  content: "";
  display: block;
  width: 50px;
  height: 100px;
  box-shadow: 0 40px 0 #6B6B6B;
  background-color: #117EB3;
}
